node_modules/
documentation.md
.env
https://youtube.com/shorts/U0l4Opfz9UE?si=2Uz3AzUQKi-p_zof
coding interview university
https://youtube.com/shorts/KMIItQlSSpE?si=zgPWYDGmG0DFTEch

https://youtube.com/shorts/PnAByWrvIb4?si=LKIXV5xe2mrO3fL8
openbootcamp:
https://open-bootcamp.com/
https://www.youtube.com/channel/UCn04KUoWfsd4CDSdEFhF4Iw

