header.bg-indigo-600.p-3
    .container.mx-auto.flex.justify-between
        h1.text-2xl.text-white.font-extrabold.text-center Distribuidora
            span.font-normal  La Familia
        nav 
            a(href="") Tennis